@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #E1E5EE;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.topic {
    background-color: #2A324B;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.topic:hover {
    background-color: #58699D;
}
